In [1]:


#FIND A CODE THAT IMPORTS MULTIPLE SHEETS AND THEN MERGE INTO A DF
#FIND A CODE THAT IMPORTS MULTIPLE SHEETS AND THEN MERGE INTO A DF
#FIND A CODE THAT IMPORTS MULTIPLE SHEETS AND THEN MERGE INTO A DF


import pandas as pd

Raw = pd.read_excel (r'C:\Users\ibrahimad\OneDrive - Kantar\Documents\Colgate\Colgate France\Curves 2022\TP\Raw Data\Weekly data ALL.xlsx', sheet_name = 'AUCHAN', header = [0, 1])
print (Raw)

         Info                                                     \
     Retailer                                              LDESC
0      AUCHAN  900 900.CARE MENTHE DOUCE BOITE 100 1X STD ADU...
1      AUCHAN  900 900.CARE MENTHE DOUCE BOITE 200 1X STD ADU...
2      AUCHAN  900 900.CARE MENTHE EXTRA FRAICHE BOITE 100 1X...
3      AUCHAN  900 900.CARE MENTHE EXTRA FRAICHE BOITE 200 1X...
4      AUCHAN  AERA BIO MULTI ACTIONS GOUT FRAISE TUB 50 1X S...
...       ...                                                ...
1039   AUCHAN  COLGATE TRIPLE ACTION MENTHE ORIGINALE BITUB 7...
1040   AUCHAN         ELMEX SENSITIVE TUB 75 2X STD ADU PAT TUB
1041   AUCHAN  ELMEX SENSITIVE BLANCHEUR BITUB 75 2X STD ADU ...
1042   AUCHAN  ELMEX SENSITIVE BLANCHEUR BITUB 75 2X STD ADU ...
1043   AUCHAN  ELMEX SENSITIVE NETTOYAGE FRAICHEUR TUB 75 2X ...

                      DV DIFFUSION [4S]      Non Promo Unit  \
               ITEM 2020-01-12 00:00:00 2020-01-12 00:00:00
0     3770018286655                   0                 0.0
1     3770018286334                   0                 0.0
2     3770018286631                   0                 0.0
3     3770018286341                   0                 0.0
4     3760264244035                   0                 0.0
...             ...                 ...                 ...
1039  8718951205819                 100              1535.0
1040  8718951197855                  61                67.0
1041  8718951178427                  16                13.0
1042  8718951285583                  98               982.0
1043  8718951402249                   0                 0.0

         Non Promo Value   DV DIFFUSION [4S]      Non Promo Unit  \
     2020-01-12 00:00:00 2020-01-19 00:00:00 2020-01-19 00:00:00
0                    0.0                   0                 0.0
1                    0.0                   0                 0.0
2                    0.0                   0                 0.0
3                    0.0                   0                 0.0
4                    0.0                   0                 0.0
...                  ...                 ...                 ...
1039              3001.0                 100              1171.0
1040               203.9                  62                52.0
1041                88.4                  13                 5.0
1042              6819.7                  97               933.0
1043                 0.0                   0                 0.0

         Non Promo Value   DV DIFFUSION [4S]  ...       Non Promo Value  \
     2020-01-19 00:00:00 2020-01-26 00:00:00  ... 2022-01-30 00:00:00.3
0                    0.0                   0  ...                   NaN
1                    0.0                   0  ...                   NaN
2                    0.0                   0  ...                   NaN
3                    0.0                   0  ...                   NaN
4                    0.0                   0  ...                   NaN
...                  ...                 ...  ...                   ...
1039              2293.9                 100  ...                   NaN
1040               157.7                  65  ...                   NaN
1041                33.8                  11  ...                   NaN
1042              6479.5                  96  ...                   NaN
1043                 0.0                   0  ...                3004.2

                                                                        \
     2022-01-30 00:00:00.4 2022-01-30 00:00:00.5 2022-01-30 00:00:00.6
0                      NaN                   NaN                   NaN
1                      NaN                   NaN                   NaN
2                      NaN                   NaN                   NaN
3                      NaN                   NaN                   NaN
4                      NaN                   NaN                   NaN
...                    ...                   ...                   ...
1039                   NaN                   NaN                   NaN
1040                   NaN                   NaN                   NaN
1041                   NaN                   NaN                   NaN
1042                   NaN                   NaN                   NaN
1043                  92.0                 397.0                2972.3

                                                                        \
     2022-01-30 00:00:00.7 2022-01-30 00:00:00.8 2022-01-30 00:00:00.9
0                      NaN                   NaN                   NaN
1                      NaN                   NaN                   NaN
2                      NaN                   NaN                   NaN
3                      NaN                   NaN                   NaN
4                      NaN                   NaN                   NaN
...                    ...                   ...                   ...
1039                   NaN                   NaN                   NaN
1040                   NaN                   NaN                   NaN
1041                   NaN                   NaN                   NaN
1042                   NaN                   NaN                   NaN
1043                  89.0                 350.0                2619.2


     2022-01-30 00:00:00.10 2022-01-30 00:00:00.11 2022-01-30 00:00:00.12
0                       NaN                    NaN                    NaN
1                       NaN                    NaN                    NaN
2                       NaN                    NaN                    NaN
3                       NaN                    NaN                    NaN
4                       NaN                    NaN                    NaN
...                     ...                    ...                    ...
1039                    NaN                    NaN                    NaN
1040                    NaN                    NaN                    NaN
1041                    NaN                    NaN                    NaN
1042                    NaN                    NaN                    NaN
1043                   88.0                  372.0                 2780.2

[1044 rows x 339 columns]

In [2]:
Raw_Long = Raw.set_index([('Info',  'Retailer'),
            ('Info',   'LDESC'),
            ('Info',   'ITEM'),


            ]).stack(dropna=False).reset_index().rename(columns = {'level_3': 'Date'})
Raw_Long

,"(Info, Retailer)","(Info, LDESC)","(Info, ITEM)",Date,DV DIFFUSION [4S],Non Promo Unit,Non Promo Value
0,AUCHAN,900 900.CARE MENTHE DOUCE BOITE 100 1X STD ADU...,3770018286655,2020-01-12 00:00:00.000,0.0,0.0,0.0
1,AUCHAN,900 900.CARE MENTHE DOUCE BOITE 100 1X STD ADU...,3770018286655,2020-01-19 00:00:00.000,0.0,0.0,0.0
2,AUCHAN,900 900.CARE MENTHE DOUCE BOITE 100 1X STD ADU...,3770018286655,2020-01-26 00:00:00.000,0.0,0.0,0.0
3,AUCHAN,900 900.CARE MENTHE DOUCE BOITE 100 1X STD ADU...,3770018286655,2020-02-02 00:00:00.000,0.0,0.0,0.0
4,AUCHAN,900 900.CARE MENTHE DOUCE BOITE 100 1X STD ADU...,3770018286655,2020-02-09 00:00:00.000,0.0,0.0,0.0
...,...,...,...,...,...,...,...
125275,AUCHAN,ELMEX SENSITIVE NETTOYAGE FRAICHEUR TUB 75 2X ...,8718951402249,2022-01-30 00:00:00.500,NaN,NaN,397.0
125276,AUCHAN,ELMEX SENSITIVE NETTOYAGE FRAICHEUR TUB 75 2X ...,8718951402249,2022-01-30 00:00:00.600,NaN,NaN,2972.3
125277,AUCHAN,ELMEX SENSITIVE NETTOYAGE FRAICHEUR TUB 75 2X ...,8718951402249,2022-01-30 00:00:00.700,NaN,NaN,89.0
125278,AUCHAN,ELMEX SENSITIVE NETTOYAGE FRAICHEUR TUB 75 2X ...,8718951402249,2022-01-30 00:00:00.800,NaN,NaN,350.0
125279,AUCHAN,ELMEX SENSITIVE NETTOYAGE FRAICHEUR TUB 75 2X ...,8718951402249,2022-01-30 00:00:00.900,NaN,NaN,2619.2

In [3]:
dataTypeSeries = Raw_Long.dtypes
print(dataTypeSeries)

(Info, Retailer)             object
(Info, LDESC)                object
(Info, ITEM)                 object
Date                 datetime64[ns]
DV DIFFUSION [4S]           float64
Non Promo Unit              float64
Non Promo Value             float64
dtype: object

In [4]:
Raw_Long.columns = [''.join(col).strip() for col in Raw_Long.columns.values]
Raw_Long

,InfoRetailer,InfoLDESC,InfoITEM,Date,DV DIFFUSION [4S],Non Promo Unit,Non Promo Value
0,AUCHAN,900 900.CARE MENTHE DOUCE BOITE 100 1X STD ADU...,3770018286655,2020-01-12 00:00:00.000,0.0,0.0,0.0
1,AUCHAN,900 900.CARE MENTHE DOUCE BOITE 100 1X STD ADU...,3770018286655,2020-01-19 00:00:00.000,0.0,0.0,0.0
2,AUCHAN,900 900.CARE MENTHE DOUCE BOITE 100 1X STD ADU...,3770018286655,2020-01-26 00:00:00.000,0.0,0.0,0.0
3,AUCHAN,900 900.CARE MENTHE DOUCE BOITE 100 1X STD ADU...,3770018286655,2020-02-02 00:00:00.000,0.0,0.0,0.0
4,AUCHAN,900 900.CARE MENTHE DOUCE BOITE 100 1X STD ADU...,3770018286655,2020-02-09 00:00:00.000,0.0,0.0,0.0
...,...,...,...,...,...,...,...
125275,AUCHAN,ELMEX SENSITIVE NETTOYAGE FRAICHEUR TUB 75 2X ...,8718951402249,2022-01-30 00:00:00.500,NaN,NaN,397.0
125276,AUCHAN,ELMEX SENSITIVE NETTOYAGE FRAICHEUR TUB 75 2X ...,8718951402249,2022-01-30 00:00:00.600,NaN,NaN,2972.3
125277,AUCHAN,ELMEX SENSITIVE NETTOYAGE FRAICHEUR TUB 75 2X ...,8718951402249,2022-01-30 00:00:00.700,NaN,NaN,89.0
125278,AUCHAN,ELMEX SENSITIVE NETTOYAGE FRAICHEUR TUB 75 2X ...,8718951402249,2022-01-30 00:00:00.800,NaN,NaN,350.0
125279,AUCHAN,ELMEX SENSITIVE NETTOYAGE FRAICHEUR TUB 75 2X ...,8718951402249,2022-01-30 00:00:00.900,NaN,NaN,2619.2

In [5]:
Final = Raw_Long.rename(columns={'InfoRetailer':'Retailer','InfoITEM':'UPC_DESC','InfoLDESC':'UPC_SHORT_DESC', 

                                 'Date':'WEEK', 
                                   'Non Promo Unit':'UNITS', 'Non Promo Value':'DOLLAR', 'DV DIFFUSION [4S]':'ACV'})

Final

,Retailer,UPC_SHORT_DESC,UPC_DESC,WEEK,ACV,UNITS,DOLLAR
0,AUCHAN,900 900.CARE MENTHE DOUCE BOITE 100 1X STD ADU...,3770018286655,2020-01-12 00:00:00.000,0.0,0.0,0.0
1,AUCHAN,900 900.CARE MENTHE DOUCE BOITE 100 1X STD ADU...,3770018286655,2020-01-19 00:00:00.000,0.0,0.0,0.0
2,AUCHAN,900 900.CARE MENTHE DOUCE BOITE 100 1X STD ADU...,3770018286655,2020-01-26 00:00:00.000,0.0,0.0,0.0
3,AUCHAN,900 900.CARE MENTHE DOUCE BOITE 100 1X STD ADU...,3770018286655,2020-02-02 00:00:00.000,0.0,0.0,0.0
4,AUCHAN,900 900.CARE MENTHE DOUCE BOITE 100 1X STD ADU...,3770018286655,2020-02-09 00:00:00.000,0.0,0.0,0.0
...,...,...,...,...,...,...,...
125275,AUCHAN,ELMEX SENSITIVE NETTOYAGE FRAICHEUR TUB 75 2X ...,8718951402249,2022-01-30 00:00:00.500,NaN,NaN,397.0
125276,AUCHAN,ELMEX SENSITIVE NETTOYAGE FRAICHEUR TUB 75 2X ...,8718951402249,2022-01-30 00:00:00.600,NaN,NaN,2972.3
125277,AUCHAN,ELMEX SENSITIVE NETTOYAGE FRAICHEUR TUB 75 2X ...,8718951402249,2022-01-30 00:00:00.700,NaN,NaN,89.0
125278,AUCHAN,ELMEX SENSITIVE NETTOYAGE FRAICHEUR TUB 75 2X ...,8718951402249,2022-01-30 00:00:00.800,NaN,NaN,350.0
125279,AUCHAN,ELMEX SENSITIVE NETTOYAGE FRAICHEUR TUB 75 2X ...,8718951402249,2022-01-30 00:00:00.900,NaN,NaN,2619.2

In [6]:
Final2 = Final.groupby(['Retailer' , 'UPC_DESC' , 'WEEK']).agg({ 'UNITS':['sum'] , 'DOLLAR': ['sum'] , 'ACV':['mean']})
Final2

                                                                          UNITS  \
                                                                            sum
Retailer UPC_DESC                                 WEEK
AUCHAN   0000026023656                            2020-01-12 00:00:00.000   0.0
                                                  2020-01-19 00:00:00.000   0.0
                                                  2020-01-26 00:00:00.000   0.0
                                                  2020-02-02 00:00:00.000   0.0
                                                  2020-02-09 00:00:00.000   0.0
...                                                                         ...
         ZENDIUM FLUOR TUB 75 1X STD ADU PAT TUB  2022-01-30 00:00:00.500   0.0
                                                  2022-01-30 00:00:00.600   0.0
                                                  2022-01-30 00:00:00.700   0.0
                                                  2022-01-30 00:00:00.800   0.0
                                                  2022-01-30 00:00:00.900   0.0

                                                                          DOLLAR  \
                                                                             sum
Retailer UPC_DESC                                 WEEK
AUCHAN   0000026023656                            2020-01-12 00:00:00.000    0.0
                                                  2020-01-19 00:00:00.000    0.0
                                                  2020-01-26 00:00:00.000    0.0
                                                  2020-02-02 00:00:00.000    0.0
                                                  2020-02-09 00:00:00.000    0.0
...                                                                          ...
         ZENDIUM FLUOR TUB 75 1X STD ADU PAT TUB  2022-01-30 00:00:00.500    0.0
                                                  2022-01-30 00:00:00.600    0.0
                                                  2022-01-30 00:00:00.700    0.0
                                                  2022-01-30 00:00:00.800    0.0
                                                  2022-01-30 00:00:00.900    0.0

                                                                           ACV
                                                                          mean
Retailer UPC_DESC                                 WEEK
AUCHAN   0000026023656                            2020-01-12 00:00:00.000  0.0
                                                  2020-01-19 00:00:00.000  0.0
                                                  2020-01-26 00:00:00.000  0.0
                                                  2020-02-02 00:00:00.000  0.0
                                                  2020-02-09 00:00:00.000  0.0
...                                                                        ...
         ZENDIUM FLUOR TUB 75 1X STD ADU PAT TUB  2022-01-30 00:00:00.500  NaN
                                                  2022-01-30 00:00:00.600  NaN
                                                  2022-01-30 00:00:00.700  NaN
                                                  2022-01-30 00:00:00.800  NaN
                                                  2022-01-30 00:00:00.900  NaN

[124236 rows x 3 columns]

In [7]:
Final2.columns = [''.join(col).strip() for col in Final2.columns.values]
Final2

                                                                           UNITSsum  \
Retailer UPC_DESC                                 WEEK
AUCHAN   0000026023656                            2020-01-12 00:00:00.000       0.0
                                                  2020-01-19 00:00:00.000       0.0
                                                  2020-01-26 00:00:00.000       0.0
                                                  2020-02-02 00:00:00.000       0.0
                                                  2020-02-09 00:00:00.000       0.0
...                                                                             ...
         ZENDIUM FLUOR TUB 75 1X STD ADU PAT TUB  2022-01-30 00:00:00.500       0.0
                                                  2022-01-30 00:00:00.600       0.0
                                                  2022-01-30 00:00:00.700       0.0
                                                  2022-01-30 00:00:00.800       0.0
                                                  2022-01-30 00:00:00.900       0.0

                                                                           DOLLARsum  \
Retailer UPC_DESC                                 WEEK
AUCHAN   0000026023656                            2020-01-12 00:00:00.000        0.0
                                                  2020-01-19 00:00:00.000        0.0
                                                  2020-01-26 00:00:00.000        0.0
                                                  2020-02-02 00:00:00.000        0.0
                                                  2020-02-09 00:00:00.000        0.0
...                                                                              ...
         ZENDIUM FLUOR TUB 75 1X STD ADU PAT TUB  2022-01-30 00:00:00.500        0.0
                                                  2022-01-30 00:00:00.600        0.0
                                                  2022-01-30 00:00:00.700        0.0
                                                  2022-01-30 00:00:00.800        0.0
                                                  2022-01-30 00:00:00.900        0.0

                                                                           ACVmean
Retailer UPC_DESC                                 WEEK
AUCHAN   0000026023656                            2020-01-12 00:00:00.000      0.0
                                                  2020-01-19 00:00:00.000      0.0
                                                  2020-01-26 00:00:00.000      0.0
                                                  2020-02-02 00:00:00.000      0.0
                                                  2020-02-09 00:00:00.000      0.0
...                                                                            ...
         ZENDIUM FLUOR TUB 75 1X STD ADU PAT TUB  2022-01-30 00:00:00.500      NaN
                                                  2022-01-30 00:00:00.600      NaN
                                                  2022-01-30 00:00:00.700      NaN
                                                  2022-01-30 00:00:00.800      NaN
                                                  2022-01-30 00:00:00.900      NaN

[124236 rows x 3 columns]

In [8]:
Final2.reset_index(inplace=True)
Final2

,Retailer,UPC_DESC,WEEK,UNITSsum,DOLLARsum,ACVmean
0,AUCHAN,0000026023656,2020-01-12 00:00:00.000,0.0,0.0,0.0
1,AUCHAN,0000026023656,2020-01-19 00:00:00.000,0.0,0.0,0.0
2,AUCHAN,0000026023656,2020-01-26 00:00:00.000,0.0,0.0,0.0
3,AUCHAN,0000026023656,2020-02-02 00:00:00.000,0.0,0.0,0.0
4,AUCHAN,0000026023656,2020-02-09 00:00:00.000,0.0,0.0,0.0
...,...,...,...,...,...,...
124231,AUCHAN,ZENDIUM FLUOR TUB 75 1X STD ADU PAT TUB,2022-01-30 00:00:00.500,0.0,0.0,NaN
124232,AUCHAN,ZENDIUM FLUOR TUB 75 1X STD ADU PAT TUB,2022-01-30 00:00:00.600,0.0,0.0,NaN
124233,AUCHAN,ZENDIUM FLUOR TUB 75 1X STD ADU PAT TUB,2022-01-30 00:00:00.700,0.0,0.0,NaN
124234,AUCHAN,ZENDIUM FLUOR TUB 75 1X STD ADU PAT TUB,2022-01-30 00:00:00.800,0.0,0.0,NaN
124235,AUCHAN,ZENDIUM FLUOR TUB 75 1X STD ADU PAT TUB,2022-01-30 00:00:00.900,0.0,0.0,NaN

In [9]:
Final3 = Final2.rename(columns={'UNITSsum':'UNITS', 'DOLLARsum':'DOLLAR', 'ACVmean':'ACV'})
Final3

,Retailer,UPC_DESC,WEEK,UNITS,DOLLAR,ACV
0,AUCHAN,0000026023656,2020-01-12 00:00:00.000,0.0,0.0,0.0
1,AUCHAN,0000026023656,2020-01-19 00:00:00.000,0.0,0.0,0.0
2,AUCHAN,0000026023656,2020-01-26 00:00:00.000,0.0,0.0,0.0
3,AUCHAN,0000026023656,2020-02-02 00:00:00.000,0.0,0.0,0.0
4,AUCHAN,0000026023656,2020-02-09 00:00:00.000,0.0,0.0,0.0
...,...,...,...,...,...,...
124231,AUCHAN,ZENDIUM FLUOR TUB 75 1X STD ADU PAT TUB,2022-01-30 00:00:00.500,0.0,0.0,NaN
124232,AUCHAN,ZENDIUM FLUOR TUB 75 1X STD ADU PAT TUB,2022-01-30 00:00:00.600,0.0,0.0,NaN
124233,AUCHAN,ZENDIUM FLUOR TUB 75 1X STD ADU PAT TUB,2022-01-30 00:00:00.700,0.0,0.0,NaN
124234,AUCHAN,ZENDIUM FLUOR TUB 75 1X STD ADU PAT TUB,2022-01-30 00:00:00.800,0.0,0.0,NaN
124235,AUCHAN,ZENDIUM FLUOR TUB 75 1X STD ADU PAT TUB,2022-01-30 00:00:00.900,0.0,0.0,NaN

In [10]:
Final3.fillna(0, inplace = True)
Final3

,Retailer,UPC_DESC,WEEK,UNITS,DOLLAR,ACV
0,AUCHAN,0000026023656,2020-01-12 00:00:00.000,0.0,0.0,0.0
1,AUCHAN,0000026023656,2020-01-19 00:00:00.000,0.0,0.0,0.0
2,AUCHAN,0000026023656,2020-01-26 00:00:00.000,0.0,0.0,0.0
3,AUCHAN,0000026023656,2020-02-02 00:00:00.000,0.0,0.0,0.0
4,AUCHAN,0000026023656,2020-02-09 00:00:00.000,0.0,0.0,0.0
...,...,...,...,...,...,...
124231,AUCHAN,ZENDIUM FLUOR TUB 75 1X STD ADU PAT TUB,2022-01-30 00:00:00.500,0.0,0.0,0.0
124232,AUCHAN,ZENDIUM FLUOR TUB 75 1X STD ADU PAT TUB,2022-01-30 00:00:00.600,0.0,0.0,0.0
124233,AUCHAN,ZENDIUM FLUOR TUB 75 1X STD ADU PAT TUB,2022-01-30 00:00:00.700,0.0,0.0,0.0
124234,AUCHAN,ZENDIUM FLUOR TUB 75 1X STD ADU PAT TUB,2022-01-30 00:00:00.800,0.0,0.0,0.0
124235,AUCHAN,ZENDIUM FLUOR TUB 75 1X STD ADU PAT TUB,2022-01-30 00:00:00.900,0.0,0.0,0.0

In [11]:
Final4 = Final3.loc[(Final3['UNITS'] != 0) 
& (Final3['DOLLAR'] != 0 )
& (Final3['ACV'] != 0 )  

 ]

Final4

#Final2 = Final.loc[(Final['UNITS'] != 0) 
#| (Final['SALES (EUR)'] != 0 )
#| (Final['ACV'] != 0 )  

# ]

Final4

       Retailer       UPC_DESC       WEEK  UNITS  DOLLAR   ACV
238      AUCHAN  0000087343434 2020-01-12   52.0    80.4  11.0
239      AUCHAN  0000087343434 2020-01-19   42.0    65.0  12.0
240      AUCHAN  0000087343434 2020-01-26   41.0    63.6  10.0
241      AUCHAN  0000087343434 2020-02-02   35.0    54.3  13.0
242      AUCHAN  0000087343434 2020-02-09   42.0    65.2  15.0
...         ...            ...        ...    ...     ...   ...
118389   AUCHAN  8720182015464 2022-01-02   39.0   167.7  47.0
118390   AUCHAN  8720182015464 2022-01-09   12.9    51.2  51.0
118391   AUCHAN  8720182015464 2022-01-16    7.1    22.9  50.0
118392   AUCHAN  8720182015464 2022-01-23   22.9    74.2  49.0
118393   AUCHAN  8720182015464 2022-01-30   28.9   118.8  51.0

[32052 rows x 6 columns]

In [12]:
pd.set_option('display.max_rows', None)

Frequency_Check = Final4[{
    
    'Retailer', 
    #'UPC_DESC', 
    #'WEEK', 
    #'UNITS', 
    #'SALES (EUR)', 
    #'ACV'

}].value_counts().sort_index()
Frequency_Check

Retailer
AUCHAN      32052
dtype: int64

In [13]:
Final4.to_csv(r'C:\Users\ibrahimad\OneDrive - Kantar\Documents\Colgate\Colgate France\Curves 2022\TP\Raw Data\Transformed\AUCHAN.csv', index=False)